.nav-menu-wrap-2 {
  display: none;
}

.nav-menu-wrap-2.is-open {
  display: block;
}

@media screen and (min-width: 992px) {
  .nav-menu-wrap-2 {
    display: block;
  }
}

.main-wrapper {
  background-color: var(--black);
  overflow: hidden;
}
